.my-profile{
    position: relative;
    height: 100%;
    .my-profile-bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 200px;
        background-color: #f5f5f5;
        z-index: -1;
    }
    .my-profile-photo{
        position: absolute;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
        border: 4px solid #fff;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        margin: -75px auto 20px; /* 반지름의 절반만큼 위로 올리기 */
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}