@use "../../common/variables" as *;
@use "../../common/mixins" as *;

.travel-more {

 .section-header {





 }



 .travel-content {
  display: flex;
  gap: 2rem;
  align-items: stretch;
 }

 @media (max-width: 768px) {
  padding: 60px 0;

  .section-header {
   flex-direction: column;
   align-items: flex-start;
   gap: 15px;

   .section-title {
    font-size: 2rem;
   }
  }

  .travel-content {
   flex-direction: column;
   gap: 30px;
  }
 }
}
