/* src/styles/common/_base.scss */
@use "sass:color";
@use "variables" as *;
@use "mixins" as *;

.inner {
  max-width: $max-width-container;
  margin: 0 auto;
  width: 100%;
  // padding: 0 $gutter;
}
.top-container {
  // padding-top: $header-height;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: $font-weight-semibold;
  line-height: 1.2;
}
.text-muted {
  color: $color-muted;
}
h1 {
  font-size: $font-size-5xl;
}
h2 {
}
h3 {
  font-size: $font-size-2xl;
}
.btn-primary {
  background: $color-primary;
  color: $color-text-light;
  border-radius: $border-radius-sm;
  padding: $spacing-sm $spacing-md;
  font-weight: $font-weight-semibold;
  @include shadow-soft;

  &:hover {
    background: color.scale($color-primary, $lightness: -8%); // ✅ 안정 버전
  }
}
section {
  header {
    height: $header-height;
    background: $color-bg;
    backdrop-filter: blur(10rem);
    background-color: rgba(255, 255, 255, 0.44);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    .inner {
      // @include flex-center-space-between;
      height: 100%;
      max-width: $max-width-container;
      margin: 0 auto;
      border-bottom: $border-light;
      .tit {
        h2 {
          font-size: clamp($font-size-xl, $font-size-2xl, $font-size-5xl);
        }
        p {
          font-size: clamp(1rem, 1.5vw, 2rem);
        }
      }
    }
  }
  &.main-layout {
    header {
      background-color: transparent;
      backdrop-filter: none;
      border-bottom-color: transparent;

      &.scrolled {
        background-color: hsla(0, 0%, 100%, 0.52);
        box-shadow: $shadow-md;
        backdrop-filter: blur(5rem);
      }
    }
  }
  &.mypage-layout,
  &.booking-layout,
  &.hotelpage-layout,
  &.support-layout,
  &.search-layout {
    padding: $gutter-lg 0;
    .inner {
      border-bottom-color: $color-border;
      h1.logo a {
        color: $color-text;
      }
      .user-menu .user-button .user-name {
        color: $color-text;
      }
      .btn-wishlist {
        color: $color-text;
      }
    }
    &.search-layout {
      .inner {
        border-bottom-color: transparent;
      }
    }
    &.scrolled {
      border-bottom-color: transparent;
    }
  }
  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $spacing-lg;

    h2 {
      font-size: clamp($font-size-3xl, $font-size-4xl, $font-size-5xl);

      font-weight: bold;
      margin-bottom: $spacing-xs;
    }
    p {
      font-size: $font-size-sm;
      color: $color-muted;
    }
  }
}
.logo {
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
  color: $color-text-light;

  &::before {
    content: "🏨";
    margin-right: $spacing-sm;
  }
}
