@use "../../common/variables" as *;
@use "../../common/mixins" as *;

.home-page {

  // 전체 페이지 레이아웃 스타일
  .container {
    max-width: $max-width-container;
    margin: 0 auto;
    padding:$spacing-section 0;
  }
  
  
  // 반응형 디자인
  @media (max-width: 76.8rem) {
    .container {
      padding:$spacing-xxxl $spacing-sm;
    }
  }
}
