@use "../common/variables" as *;

.mypage-layout {
 // min-height: 100vh;
 // display: flex;
 // flex-direction: column;
 padding-top: $spacing-xl;
 margin-top: $header-height;
 padding-top: $spacing-lg;
 .hero {
  width: 100%;
  padding: $spacing-xxxl 0;
  height: 300px;
  background: $color-bg-light;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  color: $color-primary;
  margin-bottom: 2rem;
 }
 .mypage-container {
    padding-top: 10rem;
  .mypage-nav {
   border-radius: $border-radius-sm;
   padding: $spacing-md;
   box-shadow: $shadow-lg;
   border: $border;
   background: $color-bg-light;
   margin-bottom: $spacing-lg;

   // flex: 1;

   .nav-title {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: #333;
   }

   .nav-list {
    display: flex;
    text-align: center;

    li {
     flex: 1;

     width: 30%;
     a {
      display: block;
      position: relative;
      font-size: 2rem;
      &::after {
       content: "";
       position: absolute;
       bottom: -1.5rem;
       left: 0;
       width: 100%;
       height: 0.5rem;
       background: transparent;
       transition: background 0.3s;
      }
      &.active::after {
       background-color: $color-primary;
      }
     }
    }
   }
  }

  .mypage-content {
   flex: 1;
   background: white;
   border-radius: 8px;
   padding: 2rem;
   border-radius: $border-radius-sm;
   padding: $spacing-md;
   box-shadow: $shadow-sm;
   margin-bottom: $spacing-lg;
  }
 }
}

@media (max-width: 768px) {
 .mypage-container {
  flex-direction: column;

  .mypage-sidebar {
   width: 100%;

   .mypage-nav {
    position: static !important;
   }
  }
 }
}
